<html>
    <head>
        <meta charset="UTF-8">
        <title> Home </title>
       <link rel="stylesheet" href="../static/style.css">
    </head>
    <body bgcolor="#e6ffee">
        <div class="one">
                <div class="two">
                     <h1>Side Bar</h1>
                    <ul>
                        <li class="active"><a href="{{url_for('login_page')}}">Home</a></li>
                    <li><a href="{{url_for('display_recruiter')}}">Display</a></li>
                    <li><a href="{{url_for('create_job')}}">Post Job</a></li>
                    <li><a href="{{url_for('view_job_created')}}">View Jobs Created</a></li>
                    <li><a href="{{url_for('logout')}}">Log out</a></li>
                    </ul>
                </div>
                <div class="content" align="center">
                        <div class="topbar">
                            <h2>Welcome!! {{ session.username }} !! </h2>
                        </div></br></br>
                        <div class="registercontent" align="center">
                            <div class="registertop">
                                <h1>Job Details</h1>
                            </div></br></br>
                            <div class="registerbottom">
                                <form action="{{ url_for('create_job') }}" method="post" autocomplete="off">
                                    <div class="msg">{{ msg }}</div>
                                    <input id="job_title" name="job_title" type="text" placeholder="job Title" class="textbox"/></br></br>
                                    <input id="job_description" name="job_description" type="text" placeholder="Job Description" class="textbox"/></br></br>
                                    <input id="company_name" name="company_name" type="text" placeholder="Company Name" class="textbox"/></br></br>
                                    <input id="contact_no" name="contact_no" type="text" placeholder="Contact" class="textbox"/></br></br>
                                    <input id="salary" name="salary" type="text" placeholder="Salary" class="textbox"/></br></br>
                                    <input type="text" name="location" placeholder="Job Location" id="location" class="textbox" required></br></br>
                                    <input id="email" name="email" type="text" placeholder="Email" class="textbox"/><br><br>
                                    <input type="submit" class="btn" value="Post JOB"></br>
                                </form>
                            </div>
		                </div>
                </div>
            </div>
    </body>
</html>